.plusIcon {
  font-size: 1.8rem;
  position: absolute;
  bottom: 7rem;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #144272;
}

.imgContainer i {
  display: none;
}

.card:hover i {
  display: block;
  transition: 0.3s;
}

.card {
  font-family: "Montserrat", sans-serif;
}

.card .card-body {
  background-color: #003057;
  color: #fff;
}

.modal-header,
.modal-body {
  color: #144272;
  font-family: "Montserrat", sans-serif;
}
