@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.img {
  background-image: url(../statics/mainImg.png);
  background-repeat: round;
  height: 30rem;
  width: 100%;
  object-fit: fill;
}

.imgContactPage {
  background-repeat: no-repeat;
  height: 30rem;
  width: 100%;
  object-fit: fill;
}

* {
  margin: 0;
  padding: 0;
}

.imgText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.imgText > h1 {
  line-height: 1;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  text-shadow: 0.3rem 0.3rem 0.2rem #144272;
}

.imgText > p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0.2rem 0.2rem 0.2rem #144272;
}

div .infoBlock {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  min-width: 100%;
  text-align: center;
}

.infoBlock > div:first-child {
  background-color: #003057;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
  height: 20rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.infoBlock > div:nth-child(2) {
  margin-left: 0;
  margin-right: 0;
}

.infoBlock > div:nth-child(2) > div {
  background-color: #003057;
  height: 10rem;
  margin: 0;
  padding: 0;
}

.infoBlock > div:nth-child(2) > div > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
}

.infoBlock > div:nth-child(2) > div > a:hover {
  background-color: #144272;
  transition: 0.6s;
}

@media all and (min-width: 768px) {
  .infoBlock > div:nth-child(2) {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .infoBlock > div:nth-child(2) > div {
    margin-right: 0.3rem;
  }
}
