@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.imgTextProjects {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.imgTextProjects > h1 {
  line-height: 3.4rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  margin: 0 0.5rem 0 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.2rem #144272;
}

.tableContainer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding: 0;
}

.tableContainer > div:first-child {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  color: #144272;
}

.tableContainer > div:first-child > div ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.m-3 {
  list-style: none;
}

.custom-info-button {
  background-color: #003057 !important;
  border-color: #003057 !important;
  color: white !important; /* Color del texto */
}

.custom-info-button:hover {
  background-color: #144272 !important;
  border-color: #144272 !important;
}

.custom-info-button:active {
  background-color: #0b2644 !important;
  border-color: #0b2644 !important;
}

.project-text {
  font-weight: 550;
}

.carousel {
  height: 30rem;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.imgProjects {
  width: 100%;
}

@media all and (min-width: 425px) {
  .carousel-item {
    height: 100%;
  }

  .imgProjects {
    height: 100%;
    object-fit: fill;
  }
}
