@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.imgTextProjects {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.imgTextProjects > h1 {
  line-height: 3.4rem;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  margin: 0 0.5rem 0 0.5rem;
}

.tableContainer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding: 0;
}

.tableContainer > div:first-child {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  color: #144272;
}

.tableContainer > div:first-child > div ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.m-3 {
  list-style: none;
}
